<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Electro - HTML Ecommerce Template</title>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/slick.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/slick-theme.css" />
  <link type="text/css" rel="stylesheet" href="/assets/css/nouislider.min.css" />
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://kit.fontawesome.com/eaa729be91.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
  <!-- HEADER -->
  <header>
    <div th:replace="/layout/_header.html"></div>
  </header>
  <!-- /HEADER -->

  <!-- NAVBAR -->
  <nav>
    <div th:replace="/layout/_menu.html"></div>
  </nav>

  <!-- /NAVBAR -->

  <!-- SECTION -->
  
  <!-- /SECTION -->

  <!-- SECTION -->
  <div th:replace="${main}"></div>  
  <!-- /SECTION -->

  <footer th:replace="~{/layout/_footer::footer}">
  </footer>

  <!-- jQuery Plugins -->
  <script src="/assets/js/shopping-cart-app.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/slick.min.js"></script>
  <script src="/assets/js/nouislider.min.js"></script>
  <script src="/assets/js/jquery.zoom.min.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>